<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Advanced JS class</title>
  
  <link rel="stylesheet" href="reveal/css/reveal.min.css">
  <link rel="stylesheet" href="reveal/lib/css/googlecode.css">

  <link rel="stylesheet" href="slides-theme/style.css">
  <link rel="stylesheet" href="slides-theme/talk-specific.css">

  <!-- demos -->

  <!-- for live coding -->
  <link rel="stylesheet" href="js/little-console.css" id="theme">

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24335480-1']);
  _gaq.push(['_trackPageview']);

  var asyncScript = function(src) {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = src;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  };

  asyncScript(('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');
  </script>

  <script src="js/revealHooks.js"></script>

</head>

<body>

  <div class="reveal">
    <div class="slides">
