/* TODO refactor script to be more modular - extract from a previous bin */
.contexts-explained .situation .track {
  height: 3rem;
}
.contexts-explained .elements.track {
  font-size: 2rem;
}
.contexts-explained .situation, .contexts-explained .contexts {
  float: left;
  width: 40%;
  margin-right: 2rem;
}
.contexts-explained p {
  font-size: 2rem;
}
.contexts-explained h2 {
  font-size: 3rem;
}

.contexts-explained .eq {
  float: left;
  width: 10%;
  font-size: 5rem;
  color: red;
  padding-top: 30%;
  font-weight: bold;
}

.contexts-explained h3 {
  font-size: 2rem;
  margin: 2rem 0;
}
.contexts-explained h3.code {
  font-family: monospace;
}
.contexts-explained button {
  font-size: 1.25rem;
}
.contexts-explained .track {
  height: 3rem;
  width: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.025);
  padding: 0.5rem;
  font-family: monospace;
}
.contexts-explained .item {
  display: block;
  float: left;
  background: #444;
  color: #444;
  border-radius: 2px;
  margin: 2px;
  height: 3rem;
  width: 3rem;
}
.contexts-explained .item.hidden {
  visibility: hidden;
}
