.yes {
  background: #86F8AB;
}
.no {
  background: red;
}
.maybe {
  background: gold;
}
.code-alongside-wrap {
  overflow: auto;
}
.code-alongside-wrap div, .code-alongside-wrap code {
  float: left;
  width: 50%;
  font-size: 1.75rem;
}
.code-alongside-wrap code {
  text-align: left;
  white-space: pre-wrap;
}

.gallery img {
  margin-right: 15px; 
}
.reveal .little-console {
  margin-top: 1em;
}
